bin
obj
/*.user
*.suo
*.TMP
*.user
/packages/Atlassian.SDK.5.0.0
/packages/HtmlRenderer.Core.1.5.0.5/lib
/Output
/packages/Atlassian.SDK.5.5.1
/packages/NUnit.3.0.1
/packages/RestSharp.105.2.3
/packages/log4net.2.0.4
/packages/EasyHttp.1.6.80.0
/packages/PropertyTools.Wpf.2015.2.0/lib/net40
/packages/PropertyTools.Wpf.2015.2.0/lib/net45
/packages/PropertyTools.Wpf.2015.2.0/lib/portable-net40+sl5+wp8+win8
/packages/PropertyTools.Wpf.2015.2.0
/packages/Moq.4.2.1510.2205/Moq.4.2.1510.2205.nupkg
/*.DotSettings
/packages/Moq.4.2.1510.2205/lib/net35
/Resharper/Dashboard.sln.Team.DotSettings
